header.header
  a.logo(href='/')
    .logo__text-box
      p The
      p First
      p Group
    .logo__bars
      .logo__bar.logo__bar--1
      .logo__bar.logo__bar--2
      .logo__bar.logo__bar--3
    span.logo__sub-text XPOSED
  nav.nav
    ul.nav__list
      li.nav__item
        a.nav__link(href='/') Home
      li.nav__item
        a.nav__link(href='/how-they-work') How They work
      li.nav__item
        a.nav__link(href='/stories') Stories
      li.nav__item
        a.nav__link(href='/contact') Contact
      if user
        li.nav__item
          a.nav__link(href='/admin__dashboard') Dashboard 
        li.nav__item.nav__item--logout
          a.nav__link Log Out