extends base

block content
  .contact-container
    .contact-section.contact-section--victim
      h2.heading-secondary Are You a Victim?
      p If you have been affected by The First Group, please share your story by filling out our secure form. 
      p Or if you have been refunded, email us #[a(href="mailto:tfgexstoryadmin@proton.me") tfgexstoryadmin@proton.me] with the subject containing the storyID and "REFUNDED".
      a.btn.btn--blue(href="https://tally.so/r/3Ne8QO" target="_blank") Share Your Story

    .contact-section.contact-section--company
      h2.heading-secondary Representing The First Group?
      p If you are a representative and wish to resolve a story listed on this site, please email this address #[a(href="mailto:tfgexstoryadmin@proton.me") tfgexstoryadmin@proton.me].
      p In your email, use the subject "ITSTFG" and include the story IDs for the cases you wish to address. 
      p We will then provide the associated contact information so you can begin a resolution. 
      p Once resolved, and the victim has shown varification, we will remove that story from our site.
